/* font-family: 'Josefin Slab', serif;
font-family: 'Oswald', sans-serif; */

html {
    min-height: 100vh;
    background-image: url(../images/exterior1.jpg);
    background-size: cover;
    font-size: 1rem;
}

body{
    background-color: transparent;
    font-family: 'Oswald', sans-serif; 
}

.btn-primary{
    background-color: #36b7ba;
    border-color: #36b7ba;
    font-family: 'Oswald', sans-serif;
}

.btn-primary:hover{
    background-color: #185051;
}

.mainContentBox{
    background-color: darkred;
    height: 200px;
    border-radius: 5px;
    position: relative;
}

.mainContentBox p{
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100%;
}

#timer{
    width: 100px;
}

#quizLogo{
    width: 100%;
}

.gifImage{
    max-height: auto; 
    max-width: 100%;
    display: block;
    /* margin-top: 10px */
}

/* @media screen and (max-height: 300px){
    .mainContentBox{
        background-color: darkred;
        height: 100px;
        border-radius: 5px;
        position: relative;
    }
} */

@media screen and (max-width: 970px) {
    .mainContentBox p{
        font-size: medium;
    }
}

@media screen and (max-width: 670px) {
    #loadingPageImgLogo{
        width: 350px;
    }
    .mainContentBox p{
        font-size: small;
    }
}

/* Width at 320px and below */
@media screen and (max-width: 320px) {
    #loadingPageImgLogo{
        width: 168px;
    }
    .mainContentBox p{
        font-size: x-small;
    }
}

/* Width at 168px and below */
@media screen and (max-width: 168px){
    #loadingPageImgLogo{
        width: 140px;
    }
    .mainContentBox p{
        font-size: small;
    }
}

  
/* @include media-breakpoint-up(sm) {
html {
    font-size: 1.2rem;
}
}

@include media-breakpoint-up(md) {
html {
    font-size: 1.4rem;
}
}

@include media-breakpoint-up(lg) {
html {
    font-size: 1.6rem;
}
} */